In [102]:
import math
import pandas as pd
import numpy as np

### Test

In [49]:
d = {'w': [2.5, -5, -1.2, 0.5, 2, 0.7], 'x': [3, 2, 1, 3, 0, 4.15]}
df = pd.DataFrame(data=d)
df

     w     x
0  2.5  3.00
1 -5.0  2.00
2 -1.2  1.00
3  0.5  3.00
4  2.0  0.00
5  0.7  4.15

In [50]:
df["wx"] = df["w"]*df["x"]
df

     w     x      wx
0  2.5  3.00   7.500
1 -5.0  2.00 -10.000
2 -1.2  1.00  -1.200
3  0.5  3.00   1.500
4  2.0  0.00   0.000
5  0.7  4.15   2.905

In [51]:
SUM_wx = np.sum(df["wx"]) 
SUM_wx

0.7050000000000001

In [57]:
# sigama(Z)
Z = 1/(1+math.exp(-SUM_wx))
Z

0.6692954027774461

In [70]:
# L(w, b)
y =1
L = -(y*math.log(Z) + (1-y)*math.log(1-Z))
L

0.40152975760158627

In [83]:
# Logistic
#y = 0
if Z > 0.5: 
    y = 1 
else: y = 0

print(y)

1

### Function

In [91]:
d = {'w': [2.5, -5, -1.2, 0.5, 2, 0.7], 'x': [3, 2, 1, 3, 0, 4.15]}
df = pd.DataFrame(data=d)

In [94]:
def sigmod(df):
    df["wx"] = df["w"]*df["x"]
    SUM_wx = np.sum(df["wx"])
    Z = 1/(1+math.exp(-SUM_wx)) 
    return Z
sigmod(df)

0.6692954027774461

In [100]:
def Logistic_Regression():
    if Z > 0.5: 
        y = 1 
    else: y = 0
    return y
Logistic_Regression()

1

In [101]:
def LR_Modeling():
    # read dataset function
    Z = sigmod(df)
    y = Logistic_Regression()
    return y

LR_Modeling()

1

In [96]:
def L(Z, y):    
    return -(y*math.log(Z) + (1-y)*math.log(1-Z))

### Naive Bayes

##### https://scikit-learn.org/stable/modules/naive_bayes.html